body {
  height: 100%;
}
html {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}
i.logo {
  position: relative;
  /* bottom: 1.5px; */
  top: 3px;
  /* font-size: 1.2em; */
  /* font-size: large; */
}

a.btn:active {
  background-color: white;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(1.5px);
  border: 1px solid;
}

.add-icon {
  position: relative;
  top: 4px;
}
i {
  position: relative;
  bottom: 2px;
}

.alert-shown {
  opacity: 1;
  transition: all 125ms ease-in 100ms;
}

.alert-hidden {
  opacity: 0;
  transition: all 500ms ease-out 100ms;
}
